/dist2/chat_debug.log
/dist2/ChatTool.exe
/.trae/documents/plan_20251217_064449.md
/.trae/documents/plan_20251217_065514.md
/.trae/documents/plan_20251217_070732.md
/.trae/documents/plan_20251217_071649.md
/.trae/documents/plan_20251217_083339.md
/.trae/documents/圣诞树桌面应用代码修复计划.md
/build/圣诞树/Analysis-00.toc
/build/圣诞树/base_library.zip
/build/圣诞树/EXE-00.toc
/build/圣诞树/PKG-00.toc
/build/圣诞树/PYZ-00.pyz
/build/圣诞树/PYZ-00.toc
/build/圣诞树/warn-圣诞树.txt
/build/圣诞树/xref-圣诞树.html
/build/圣诞树/圣诞树.pkg
/build0/excel_tool/Analysis-00.toc
/build0/excel_tool/base_library.zip
/build0/excel_tool/excel_tool.pkg
/build0/excel_tool/EXE-00.toc
/build0/excel_tool/PKG-00.toc
/build0/excel_tool/PYZ-00.pyz
/build0/excel_tool/PYZ-00.toc
/build0/excel_tool/warn-excel_tool.txt
/build0/excel_tool/xref-excel_tool.html
/build2/ChatTool/Analysis-00.toc
/build2/ChatTool/base_library.zip
/build2/ChatTool/ChatTool.pkg
/build2/ChatTool/EXE-00.toc
/build2/ChatTool/PKG-00.toc
/build2/ChatTool/PYZ-00.pyz
/build2/ChatTool/PYZ-00.toc
/build2/ChatTool/warn-ChatTool.txt
/build2/ChatTool/xref-ChatTool.html
/build-圣诞树w/圣诞树/Analysis-00.toc
/build-圣诞树w/圣诞树/base_library.zip
/build-圣诞树w/圣诞树/EXE-00.toc
/build-圣诞树w/圣诞树/PKG-00.toc
/build-圣诞树w/圣诞树/PYZ-00.pyz
/build-圣诞树w/圣诞树/PYZ-00.toc
/build-圣诞树w/圣诞树/warn-圣诞树.txt
/build-圣诞树w/圣诞树/xref-圣诞树.html
/build-圣诞树w/圣诞树/圣诞树.pkg
/build-圣诞树w/圣诞树.exe
/.env
